#logo {
    margin-left: 40%;
    margin-right: 45%;
    
}



.barra_inicio{
    background-image: url(./espaco.jpg);
    text-size-adjust: 40;
    display: block;
    text-align: center;
    padding: 1%;
}

#home {color: white;font-size: 30px;} 
#novidades {color: white;font-size: 30px;}
#espaço {color: white;font-size: 30px;}
#clima_terra {color: white;font-size: 30px;}
#sobre {color: white;font-size: 30px;}
#contato{color: white;font-size: 30px;}

#imagem_inicial {
    margin-right: 1px;
    margin-left: 1px;
    width: auto;
    height: 2828px;

}

nav a {
    margin: 0 90px; 
    position: center;
}

.buscar{
    position: absolute;
    margin-left: 85%;
    color: white;

}

body{
    background-image: url(./espaco.jpg);
}

#imagem_novidades{
    margin-right: 1px;
    margin-left: 1px;
    width: 100%;
    height: 600px;

}

#live_nasa{
    margin-left: 15%;

}


main {
    padding: 20px;
}

h1 {
    color: #f0f0f0;
}

article {
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

article h2 {
    margin: 0 0 10px;
    color: #ffcc00; /* Destaque para os títulos */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
