body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../media/back-ground.jpg);
}

h2 {
    color: white;
}

a {
    text-decoration: none;
    color: #007bff;
    border-color: white;
    border-style: dashed;
}


a:hover {
    color: #0056b3;
}

.contato{
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: black;
}

header .logo img {
    width: 40%;
}

header .contato {
    text-align: right;
}

header .redes-sociais a {
    margin-right: 10px;
}


#menu {
    background-color: #007bff;
    padding: 10px 0;
}

#menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

#menu ul li {
    display: inline;
    margin-right: 20px;
}

#menu ul li a {
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

#menu ul li a:hover {
    background-color: #0056b3;
}


#sobre {
    background-color:#007bff;
    padding: 20px;
    text-align: center;
    color: wheat;
}


#galeria {
    padding: 40px;
    text-align: center;
}

#galeria .imagens {
    display: flex;
    justify-content: space-around;
}

#galeria .imagens img {
    width: 70%;
    border-radius: 8px;
}


#banner2{
    margin-top: 2%;
}

/* Formulário de Agendamento
#agendamento {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
}

#agendamento form {
    display: inline-block;
    text-align: left;
    max-width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#agendamento label {
    display: block;
    margin: 10px 0 5px;
}

#agendamento input, 
#agendamento select, 
#agendamento button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#agendamento button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#agendamento button:hover {
    background-color: #0056b3;
} */

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    color: #007bff;
}
