img {
position:absolute;
left: 0px;
top: 0px;
z-index: -1;
}

h6{
   color: yellow;
}


.dropdown{
   color: green;
   position: relative;
   background-color: greenyellow;
   display: inline-block;
}

.dropdown-content{
   color: red;
   background-color: brown;
   display: none;
   position: absolute;
}

.dropdown:hover .dropdown-content{
   display: block;
   list-style: block;
   list-style: none;
   min-width: 160px;
   z-index: 1;
}

