img {
position:absolute;
left: 0px;
top: 0px;
z-index: -1;
}

h6{
   color: yellow;
}


.dropdown{
   color: green;
   position: relative;
   background-color: greenyellow;
   display: inline-block;
}

.dropdown-content{
   color: red;
   background-color: brown;
   display: none;
   position: absolute;
}

.dropdown:hover .dropdown-content{
   display: block;
   list-style: block;
   list-style: none;
   min-width: 160px;
   z-index: 1;
}

@media(max-width: 767px) {
   .grid-container {  
      display: grid;
      grid-template-columns: 100%;
      gap: 10px;
      background-color: red;
      padding: 10px;
   }

   .grid-container > div {  
      background-color: yellow;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
   }
}


@media(min-width: 767px) {
   .grid-container {  
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
      background-color: blue;
      padding: 10px;
   }

   .grid-container > div {  
      background-color: green;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
   }
}


@media(min-width: 767px) {
   .grid-container {  
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px;
      background-color: blue;
      padding: 10px;
   }

   .grid-container > div {  
      background-color: green;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
   }
}
